/*
!.gitignore
!.scripts/
.scripts/.notes
!.config/dconf/
!.config/i3/config
!.config/ranger/
!.config/wal_steam/
!.config/qt5ct/
!.config/compton.conf
!.config/mimeapps.list
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
