.AndroidStudio3.2/
.ICEauthority
.JetBrains Rider-2018.2.3/
.Rider2018.2/
.Unity-2018.2.7f1/
.Xauthority
.Xclients
.android-studio/
.android/
.aptitude/
.atom/
.bash_history
.bash_logout
.bumblebee-status
.links2
.w3m
.bashrc.save
.cache/
.cinnamon/
.config/*
!.config/dconf/
!.config/i3/
!.config/ranger/
!.config/wal_steam/
!.config/qt5ct/
!.config/compton.conf
!.config/mimeapps.list
.dmrc
.dbus
.dotnet/
.emulator_console_auth_token
.esd_auth
.face
.gcalcli_cache
.gcalcli_oauth
.gconf/
.gem/
.gervill/
.gimp-2.8/
.gist
.git-credentials
.gnome/
.gradle/
.idea/
.java/
.local/
.mono/
.mozilla/
.mplayer/
.node_repl_history
.npm/
.nv/
.oh-my-zsh/
.pki/
.pulse-cookie
.python_history
.rpmdb/
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.swo
.swp
.swt/
.themes/
.thumbnails/
.thunderbird/
.tmux/
.tor-browser_en-US/
.tuxguitar-1.2/
.tuxguitar-1.5.2/
.var/
.viminfo
.vscode/
.vsts/
.wget-hsts
.wine/
.xscreensaver
.xsession-errors
.xsession-errors.old
.xvkbd
.yarnrc
.zcompdump
.zcompdump-uygar-5.4.2
.zsh_history
Android-SD/
Android/
Documents/
Downloads/
Music/
Pictures/
Project/
bumblebee-status-debug.log
GPUCache/
