<table class="table table-hover mb-0">
  <thead>
    <tr>
      <th width="100px" data-title="Intial Waiting" data-content="Specific time to wait before auto click start. Its value are in sec &lt;hr/>* 1 &lt;br/>* 1e5 defines range from 1-5 &lt;br/>* can be empty/blank"
        data-toggle="popover" data-html="true" data-trigger="hover">
        <a href="https://github.com/Dhruv-Techapps/auto-click/wiki/Init-Wait" target="_blank">Init Wait</a>
      </th>
      <th data-title="Element XPath" data-content="XPath is used to identify button/input in page. &lt;br/>&lt;br/> * Mandatory information. &lt;hr>* using attribtue &lt;b>href='google.com'&lt;/b> &lt;br/>- //a[@href='google.com']  &lt;hr>* Using &lt;b>id='1'&lt;/b> &lt;br/>- //button[@id='1']  &lt;hr>* Conatins Check &lt;b>class='click me'&lt;/b> &lt;br>- //button[contains(@class,'me')] &lt;hr>&lt;i> for more details click xpath link &lt;/i>"
        data-html="true" data-toggle="popover" data-trigger="hover">
        <a href="https://github.com/Dhruv-Techapps/auto-click/wiki/xPath" target="_blank">xPath
          <span class="text-danger">*</span>
        </a>
      </th>
      <th data-title="Input Value" data-content="Now you can fill forms by providing value for input fields. If its button you can leave this field as blank &lt;hr/>* anything &lt;br/>* can be empty/blank"
        data-toggle="popover" data-html="true" data-trigger="hover">
        <a href="https://github.com/Dhruv-Techapps/auto-click/wiki/Value" target="_blank">Value</a>
      </th>
      <th width="100px" data-title="Action Repeat" data-content="You can repeat specific action for more than one time. Its numeric field &lt;hr/>* 1 &lt;br/>* can be empty/blank &lt;br/>* -2 for endless repeat"
        data-toggle="popover" data-html="true" data-trigger="hover">
        <a href="https://github.com/Dhruv-Techapps/auto-click/wiki/Repeat" target="_blank">Repeat</a>
      </th>
      <th width="100px" data-title="Action Repeat Interval" data-content="Its dependent on repeat value &lt;br/> To run action at specific interval provide time here. Its value are in sec &lt;hr/>* 1 &lt;br/>* 1e5 defines range from 1-5  &lt;br/>* can be empty/blank"
        data-toggle="popover" data-html="true" data-trigger="hover">
        <a href="https://github.com/Dhruv-Techapps/auto-click/wiki/Repeat-Interval" target="_blank">R-Interval</a>
      </th>
      <th width="70px">
        <a class="d-flex align-items-center text-success justify-content-center" prop='create' href="#" data-content="Add new action"
          data-toggle="popover" data-trigger="hover" data-placement="right">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="16"></line>
            <line x1="8" y1="12" x2="16" y2="12"></line>
          </svg>
        </a>
      </th>
    </tr>
  </thead>
  <tbody></tbody>
</table>