<tr prop="template">
    <!--td class="align-middle">
        <i class="fas fa-bars m-2 text-muted" prop="sort"></i>
    </td-->
    <td>
        <input type="number" name="" value="" prop="initWait" class="form-control" placeholder="0" />
    </td>
    <td>
        <input type="text" name="" value="" prop="xpath" class="form-control" placeholder="//element[@id='1']" />
    </td>
    <td>
        <input type="text" name="" value="" prop="value" class="form-control" placeholder="" />
    </td>
    <td>
        <input type="number" name="" value="" prop="repeat" class="form-control" placeholder="0" />
    </td>
    <td>
        <input type="number" name="" value="" prop="repeatInterval" class="form-control" placeholder="0" />
    </td>
    <td class="align-middle">
        <i class="fas fa-code mr-2" prop="addon" data-content="Add Condition" data-toggle="popover" data-trigger="hover"></i>
        <i class="fas fa-minus-circle text-danger" prop="remove"></i>
    </td>
</tr>