<div class="input-group">
  <div class="input-group-prepend" data-title="Enable" data-content="To enable/disable configuration&lt;br>&lt;br> Disable configuration if you dont want to execute below actions."
    data-html="true" data-toggle="popover" data-trigger="hover">
    <div class="input-group-text">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="enable" prop="enable">
        <label for="enable" class="custom-control-label">Enable</label>
      </div>
    </div>
  </div>
  <input type="text" class="form-control" prop="url" placeholder="URL" data-title="Target URL" data-content="URL on which page need to be automated. &lt;br/>&lt;br/> * Mandatory information. &lt;br/>* Regular Expression are supported &lt;br/>- https://.*google.* &lt;br/> * Partial Match is accepted &lt;br/>- google.com &lt;br/> * Match is case insensitive &lt;br/>- GOOGLE.COM."
    data-html="true" data-toggle="popover" data-trigger="hover">
  <div class="input-group-append" data-title="Refresh" data-content="To refresh page once all actions are completed.&lt;br/> * If your using batch repeat dont use refresh."
    data-html="true" data-toggle="popover" data-trigger="hover">
    <div class="input-group-text">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" prop="refresh" id="refresh" class="custom-control-input">
        <label for="refresh" class="custom-control-label">Refresh</label>
      </div>
    </div>
  </div>
</div>